* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: serif, "Microsoft YaHei";
}

.no-move {
  overflow: hidden;
}

@font-face {
  font-family: 'iconfont';
  src: url('./iconfont/iconfont.eot');
  src: url('./iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
      url('./iconfont/iconfont.woff2') format('woff2'),
      url('./iconfont/iconfont.woff') format('woff'),
      url('./iconfont/iconfont.ttf') format('truetype'),
      url('./iconfont/iconfont.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  margin: 10px;
}

.tasking-title {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tasking-title > div {
  position: relative;
  height: 80px;
  margin: 10px;
  padding: 20px;
  flex-grow: 1;
  border-radius: 5px;
  color: #fff;

}

.tasking-title .tasking-word {
  position: relative;
}

.tasking-title #all {
  background-color: #31b48d;
}

.tasking-title #active {
  background-color: #38a1f2;
}

.tasking-title #pending {
  background-color: #7538c7;
}

.tasking-title #closed {
  background-color: #3b67a4;
}

.tasking-title .iconfont {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 100px;
  opacity: .3;
}

.tasking-title .tasking-name {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 14px;
}

.tasking-title .tasking-number {
  position: absolute;
  left: 20px;
  bottom: 20px;
  font-size: 32px;
}

.tasking-title .real-time {
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: rgba(255, 255, 255, .3);
  border-radius: 3px;
  padding: 3px;
}

.tasking-title .tasking-percent {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 32px;
}

#delete-mask {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
}

#delete-mask .comfirm-delete {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -75px;
  margin-left: -170px;
  width: 340px;
  height: 150px;
  background-color: #fff;
  border-radius: 4px;
}

.comfirm-delete > div {
  position: absolute;
}

.comfirm-delete .delete-icon {
  top: 30px;
  left: 20px;
  color: #fec826;
  font-size: 24px;
}

.comfirm-delete .hint {
  top: 30px;
  left: 60px;
}

.comfirm-delete p:first-child {
  line-height: 24px;
  font-size: 20px;
  color: #333;
}

.comfirm-delete p:last-child {
  margin-top: 8px;
  font-size: 14px;
  color: #666;
}

.comfirm-delete .back {
  top: 15px;
  right: 15px;
  font-size: 16px;
  cursor: pointer;
}

.comfirm-delete .btn-list {
  right: 20px;
  bottom: 15px;
}

.comfirm-delete .btn-list button {
  width: 50px;
  height: 28px;
  margin: 0 2px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-shadow: .5px .5px .5px rgba(0, 0, 0, .5);
  cursor: pointer;
}

.comfirm-delete .btn-list button:hover {
  color: #fff;
  background-color: #3080fe;
}

.project-list {
  margin: 20px 10px;
  text-align: left;
}

.project-list table {
  border-collapse: collapse; 
  padding-left: 5px;
}

.project-list caption {
  margin: 0 0 30px 0;
  font-size: 25px;
  text-align: left;
}

.project-list thead {
  line-height: 60px;
  font-size: 20px;
  color: #333;
  background-color: #EBECF0;
  border-bottom: 1px solid #DCDEE3;
}

.project-list th,
.project-list td {
  height: 70px;
  padding-left: 18px;
  border-bottom: 1px solid #DCDEE3;
}

.hidden-over-two-row {
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.project-list .ACTIVE {
  color: #666666;
}

.project-list .PENDING {
  color: #ee706d;
}

.project-list .CLOSED {
  color: #f7da47;
}

.project-list .delete {
  padding: 5px 10px;
  border-radius: 3px;
  background-color: #ee706d;
  color: #fff;
  border: 0;
  cursor: pointer;
}